<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="~{/fragments/head :: head}"><title>Account Info</title></head>
<body>
    <div th:if="${isAdmin}">
        <p>Welcome Admin, <span th:text="${firstname}">User Name</span>!</p>
        <!-- More user-specific content -->
    </div>
    <div th:if="${isUser}">
        <p>Welcome User, <span th:text="${firstname}">User Name</span>!</p>
        <!-- More user-specific content -->
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th> Job </th>
                <th> Description </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${ #lists.isEmpty(jobs)}">
                <td colspan="2"> No Jobs Available </td>
            </tr>
            <tr th:each="Job : ${jobs}">
                <td><span th:text="${Job.getName()}"> Name </span></td>
                <td><span th:text="${Job.getDescription()}"> Description </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>