<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="js">

    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script th:src="@{/assets/vendor/jquery/jquery-3.3.1.min.js}"></script>
    <!-- bootstrap bundle js -->
<!--    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.js}"></script>-->
    <script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <!-- slimscroll js -->
    <script th:src="@{/assets/vendor/slimscroll/jquery.slimscroll.js}"></script>
    <!-- chart chartist js -->
    <script th:src="@{/assets/vendor/charts/chartist-bundle/chartist.min.js}"></script>
    <!-- sparkline js -->
    <script th:src="@{/assets/vendor/charts/sparkline/jquery.sparkline.js}"></script>
    <!-- morris js -->
    <script th:src="@{/assets/vendor/charts/morris-bundle/raphael.min.js}"></script>
    <script th:src="@{/assets/vendor/charts/morris-bundle/morris.js}"></script>
    <!-- chart c3 js -->
    <script th:src="@{/assets/vendor/charts/c3charts/c3.min.js}"></script>
<!--    <script th:src="@{/assets/vendor/charts/c3charts/d3-5.4.0.min.js}"></script>-->
    <script th:src="@{/assets/vendor/charts/c3charts/C3chartjs.js}"></script>
    <script th:src="@{/assets/vendor/datepicker/tempusdominus-bootstrap-4.js}"></script>
    <script th:src="@{/assets/vendor/datepicker/moment.js}"></script>
    <script th:src="@{/assets/vendor/datepicker/datepicker.js}"></script>
    <script th:src="@{/assets/vendor/aos/aos.js}"></script>
    <script th:src="@{/assets/vendor/flatpickr/js/flatpickr.min.js}"></script>
    <script th:src="@{/assets/vendor/choices/js/choices.min.js}"></script>
    <!-- Vendors -->
    <script th:src="@{/assets/vendor/flatpickr/js/flatpickr.min.js}"></script>
    <script th:src="@{/assets/vendor/stepper/js/bs-stepper.min.js}"></script>
    <script th:src="@{/assets/vendor/quill/js/quill.min.js}"></script>
    <script th:src="@{/assets/vendor/dropzone/js/dropzone.js}"></script>
    <!-- main js -->
    <script th:src="@{/assets/vendor/tiny-slider/tiny-slider.js}"></script>
    <script th:src="@{/assets/vendor/purecounterjs/dist/purecounter_vanilla.js}"></script>

    <script th:src="@{/assets/libs/js/main-js.js}"></script>
    <script th:src="@{/assets/libs/js/dashboard-ecommerce.js}"></script>

    <script th:src="@{/assets/vendor/nouislider/nouislider.min.js}"></script>
    <!-- Vendors -->
    <script th:src="@{/assets/vendor/splide-master/dist/js/splide.min.js}"></script>
    <script th:src="@{/assets/vendor/glightbox/js/glightbox.js}"></script>
    <!-- ThemeFunctions -->
    <script th:src="@{/assets/js/functions.js}"></script>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function() {
            /*<![CDATA[*/
            // Assuming userInfo is a Thymeleaf object

            var userInfo = [[${userInfo}]];
            var job = [[${job}]];

            if (userInfo){
                localStorage.setItem('userInfo', JSON.stringify(userInfo));
                console.log(localStorage.getItem('userInfo'));
            }
            if (job){
                localStorage.setItem('job', JSON.stringify(job));
                console.log(localStorage.getItem('job'));
            }
            var storedUserInfo = JSON.parse(localStorage.getItem('userInfo'));
            if (storedUserInfo) {
                // Update elements with the class 'userName'
                var userNameElements = document.querySelectorAll('.userName');
                userNameElements.forEach(function(element) {
                    element.textContent = storedUserInfo.firstname + ' ' + storedUserInfo.lastname;
                });

                // Update elements with the class 'userEmail'
                var userEmailElements = document.querySelectorAll('.userEmail');
                userEmailElements.forEach(function(element) {
                    element.textContent = storedUserInfo.email;
                });

                // Update images with the class 'userAvatarImage'
                var userAvatarImageElements = document.querySelectorAll('.userAvatarImage');
                userAvatarImageElements.forEach(function(element) {
                    element.src = storedUserInfo.blobName;
                });
            }
        });
        /*]]>*/
    </script>


</div>

</body>

</html>