<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{/fragments/head :: head}">
    <title th:text="'JMT - Home'">JMT - Home</title>
</head>

<body>

<!-- Header START -->
<header class="navbar-light header-sticky">
    <!-- Logo Nav START -->
    <nav class="navbar navbar-expand-xl">
        <div class="container">
            <!-- Logo START -->
            <a class="navbar-brand" th:href="@{/welcome-directory}">
                <img class="light-mode-item navbar-brand-item" th:src="@{/assets/images/logo-light.svg}" alt="logo">
                <img class="dark-mode-item navbar-brand-item" th:src="@{/assets/images/logo-dark.svg}" alt="logo">
            </a>
            <!-- Logo END -->

            <!-- Header right side START -->
            <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
                <!-- Dark mode options START -->
                <li class="nav-item dropdown me-2">
                    <button class="btn btn-link text-warning p-0 mb-0" id="bd-theme"
                            type="button"
                            aria-expanded="false"
                            data-bs-toggle="dropdown"
                            data-bs-display="static">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-circle-half theme-icon-active fa-fw" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
                            <use href="#"></use>
                        </svg>
                    </button>

                    <ul class="dropdown-menu min-w-auto dropdown-menu-end" aria-labelledby="bd-theme">
                        <li class="mb-1">
                            <button type="button" class="dropdown-item d-flex align-items-center"
                                    data-bs-theme-value="light">
                                <svg width="16" height="16" fill="currentColor"
                                     class="bi bi-brightness-high-fill fa-fw mode-switch me-1" viewBox="0 0 16 16">
                                    <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                                    <use href="#"></use>
                                </svg>
                                Light
                            </button>
                        </li>
                        <li class="mb-1">
                            <button type="button" class="dropdown-item d-flex align-items-center"
                                    data-bs-theme-value="dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-moon-stars-fill fa-fw mode-switch me-1" viewBox="0 0 16 16">
                                    <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
                                    <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
                                    <use href="#"></use>
                                </svg>
                                Dark
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center active"
                                    data-bs-theme-value="auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-circle-half fa-fw mode-switch me-1" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
                                    <use href="#"></use>
                                </svg>
                                Auto
                            </button>
                        </li>
                    </ul>
                </li>
                <!-- Dark mode options END -->
                <!-- Sign In button -->
                <li th:unless="${#authentication?.authenticated}" class="nav-item">
                    <a th:href="@{/welcome-directory}" class="btn btn-sm btn-primary mb-0"><i
                            class="fa-solid fa-right-to-bracket me-sm-2"></i><span
                            class="d-none d-sm-inline">Login</span></a>
                </li>
                <li th:if="${#authentication?.authenticated}" class="nav-item">
                    <a th:href="@{/account/info}" class="btn btn-sm btn-primary mb-0"><i
                            class="fa-solid fa-right-to-bracket me-sm-2"></i><span
                            class="d-none d-sm-inline">Account</span></a>
                </li>
            </ul>
            <!-- Profile and Notification START -->
        </div>
    </nav>
    <!-- Logo Nav END -->
</header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Main Banner START -->
    <section class="pt-4 pt-md-5">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-lg-7">
                    <!-- Title -->
                    <h1 class="mb-4 display-5">List Your Job at <span class="text-primary">JMT</span></h1>
                    <!-- Info -->
                    <p class="mb-4">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise
                        joy man children rejoiced.</p>
                    <!-- Button -->
                    <a th:href="@{/jobs/add}" class="btn btn-primary-soft mb-4">Add your Job<i
                            class="fa-solid fa-arrow-right-long fa-fw"></i></a>
                    <!-- List -->
                    <h6 class="fw-normal mb-1">Create New Job Listing</h6>
                    <ul class="list-group list-group-borderless mb-0 small">
                        <li class="list-group-item d-flex mb-0">
                            <i class="fa-solid fa-check-circle text-success me-2 mt-1"></i>More than 5.1 million holiday
                            rentals already listed
                        </li>
                        <li class="list-group-item d-flex mb-0">
                            <i class="fa-solid fa-check-circle text-success me-2 mt-1"></i>Bed one supposing breakfast
                            day fulfilled off depending questions.
                        </li>
                        <li class="list-group-item d-flex mb-0">
                            <i class="fa-solid fa-check-circle text-success me-2 mt-1"></i>The difference in the cost
                            shall be borne by the client in case.
                        </li>
                    </ul>
                </div>
                <!-- Image -->
                <div class="col-lg-5 text-center">
                    <img src="../assets/
images/join-us.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Main Banner END -->

    <!-- =======================
    Counter START -->
    <section class="pt-0">
        <div class="container">
            <div class="row g-4 align-items-center">
                <!-- Title -->
                <div class="col-sm-6 col-md-3">
                    <h4 class="mb-0">Numbers In: Pittsburgh</h4>
                </div>

                <!-- Counter item -->
                <div class="col-sm-6 col-md-3">
                    <div class="card card-body text-center bg-light">
                        <div class="d-flex justify-content-center">
                            <h3 class="purecounter text-orange mb-0" data-purecounter-start="0"
                                data-purecounter-end="2534" data-purecounter-delay="300">0</h3>
                            <span class="h3 text-orange mb-0">+</span>
                        </div>
                        <h6 class="fw-normal mb-0">Total Users</h6>
                    </div>
                </div>

                <!-- Counter item -->
                <div class="col-sm-6 col-md-3">
                    <div class="card card-body text-center bg-light">
                        <div class="d-flex justify-content-center">
                            <h3 class="purecounter text-info mb-0" data-purecounter-start="0" data-purecounter-end="454"
                                data-purecounter-delay="300">0</h3>
                            <span class="h3 text-info mb-0">+</span>
                        </div>
                        <h6 class="fw-normal mb-0">Job Listings</h6>
                    </div>
                </div>

                <!-- Counter item -->
                <div class="col-sm-6 col-md-3">
                    <div class="card card-body text-center bg-light">
                        <div class="d-flex justify-content-center">
                            <h3 class="purecounter text-primary mb-0" data-purecounter-start="0"
                                data-purecounter-end="107" data-purecounter-delay="300">0</h3>
                            <span class="h3 text-primary mb-0">+</span>
                        </div>
                        <h6 class="fw-normal mb-0">Contractors</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Counter END -->

    <!-- =======================
    Benefits START -->
    <section class="pt-0 pt-md-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bg-light p-4 p-sm-5 rounded-3">
                        <!-- Title -->
                        <h2 class="fs-3 text-center mb-4 mb-sm-5">Why Working with us</h2>

                        <div class="row g-4">
                            <!-- Card START -->
                            <div class="col-md-6">
                                <div class="card card-body p-4">
                                    <div><img src="../assets/
images/element/18.svg" class="h-70px mb-3" alt=""></div>
                                    <h5>List any type of properties</h5>
                                    <p class="mb-0">Speedily say has suitable disposal add boy. On forth doubt miles of
                                        child. Exercise joy man children rejoiced.</p>
                                </div>
                            </div>
                            <!-- Card END -->

                            <!-- Card START -->
                            <div class="col-md-6">
                                <div class="card card-body p-4">
                                    <div><img src="../assets/
images/element/21.svg" class="h-70px mb-3" alt=""></div>
                                    <h5>Import detail easily</h5>
                                    <p class="mb-0">Two before narrow not relied on how except moment myself Dejection
                                        assurance Mrs led certainly open Betrayed.</p>
                                </div>
                            </div>
                            <!-- Card END -->

                            <!-- Card START -->
                            <div class="col-md-6">
                                <div class="card card-body p-4">
                                    <div><img src="../assets/
images/element/19.svg" class="h-70px mb-3" alt=""></div>
                                    <h5>Step by step guide</h5>
                                    <p class="mb-0">Rooms oh fully taken by worse do. Points afraid but may end
                                        law.Points afraid but may end law.</p>
                                </div>
                            </div>
                            <!-- Card END -->

                            <!-- Card START -->
                            <div class="col-md-6">
                                <div class="card card-body p-4">
                                    <div><img src="../assets/
images/element/20.svg" class="h-70px mb-3" alt=""></div>
                                    <h5>Marvelous discounts</h5>
                                    <p class="mb-0">Prospective should start broadly and then narrow their list down to
                                        colleges that best fit experts</p>
                                </div>
                            </div>
                            <!-- Card END -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Benefits END -->

    <!-- =======================
    Testimonials START -->
    <section>
        <div class="container">
            <div class="row justify-content-between mb-5">
                <!-- Title -->
                <div class="col-md-6">
                    <h2 class="mb-0">What client say about Booking</h2>
                </div>
                <!-- Info -->
                <div class="col-md-5">
                    <p class="mb-0">As it so contrasted oh estimating instrument. Size like body some one had. Departure
                        defective arranging rapturous did. Conduct denied adding worthy little.</p>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-3">

                </div>


                <!-- Testimonials START -->
                <div class="col-lg-9">
                    <div class="tiny-slider arrow-round arrow-blur arrow-hover">
                        <div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-dots="false"
                             data-items="1">
                            <!-- Slider item START -->
                            <div>
                                <div class="row g-4">
                                    <!-- Image -->
                                    <div class="col-md-4">
                                        <img src="../assets/
images/team/09.jpg" class="rounded" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="col-md-8">
                                        <div class="d-flex">
                                            <!-- Quotation -->
                                            <span class="display-5 opacity-2"><i class="bi bi-quote"></i></span>
                                            <!-- Content -->
                                            <div class="ms-3">
                                                <h5 class="mb-3 text-primary">Fantastic job done by booking</h5>
                                                <p class="mb-3">Size like body some one had. Departure defective
                                                    arranging rapturous did. Speedily say has suitable disposal add boy.
                                                    On forth doubt miles of child. Exercise joy man children rejoiced.
                                                    Conduct denied adding worthy little. Departure defective arranging
                                                    rapturous did. Conduct denied adding worthy little.</p>

                                                <h6 class="mb-0">Lori Stevens</h6>
                                                <small>CEO of Blogzine</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Slider item end -->

                            <!-- Slider item START -->
                            <div>
                                <div class="row g-4">
                                    <!-- Image -->
                                    <div class="col-md-4">
                                        <img src="../assets/
images/team/06.jpg" class="rounded" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="col-md-8">
                                        <div class="d-flex">
                                            <!-- Quotation -->
                                            <span class="display-5 opacity-2"><i class="bi bi-quote"></i></span>
                                            <!-- Content -->
                                            <div class="ms-3">
                                                <h5 class="mb-3 text-primary">Fantastic job done by booking</h5>
                                                <p class="mb-3">Size like body some one had. Departure defective
                                                    arranging rapturous did. Speedily say has suitable disposal add boy.
                                                    On forth doubt miles of child. Exercise joy man children rejoiced.
                                                    Conduct denied adding worthy little. Departure defective arranging
                                                    rapturous did. Conduct denied adding worthy little.</p>

                                                <h6 class="mb-0">Dennis Barrett</h6>
                                                <small>CEO of Wizixo</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Slider item end -->

                        </div>
                    </div>
                </div>
                <!-- Testimonials END -->
            </div>

        </div>
    </section>
    <!-- =======================
    Testimonials END -->

    <!-- =======================
    Action box START -->
    <section>
        <div class="container">
            <div class="row g-4">
                <div class="col-12">
                    <!-- Action box START -->
                    <div class="card card-body shadow p-4">
                        <div class="row g-4 justify-content-between align-items-center">
                            <!-- Image -->
                            <div class="col-sm-3 col-lg-2">
                                <img src="../assets/
images/element/22.svg" alt="">
                            </div>

                            <!-- Title and content -->
                            <div class="col-sm-9 col-lg-6 col-xl-7">
                                <h4>Why did you choose us</h4>
                                <p class="mb-0">Water timed folly right aware if oh truth. Large above be to means.
                                    Dashwood does provide stronger is.</p>
                            </div>

                            <!-- Button -->
                            <div class="col-lg-3 col-xxl-2 d-grid">
                                <a href="#" class="btn btn-primary mb-0">Become a JMT Contractor</a>
                            </div>
                        </div>
                    </div>
                    <!-- Action box END -->
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Action box END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->
<div class="back-top"></div>
<!-- =======================
Footer START -->
<footer th:replace="~{/fragments/footer :: footer}"></footer>
<!-- =======================
Footer END -->

<!-- Back to top -->

<div th:replace="~{/fragments/javascript :: js}"></div>



</body>
</html>